<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- ================== 1：开发系统相关配置 ================== -->
  <!-- 登陆提供者模式：Session、Cookie-->
  <add key="LoginProvider" value="Cookie" />

  <!-- ================== 2：系统软件参数配置 ================== -->
  <!-- 软件名称 -->
  <add key="SoftName" value="NiftyAdmin" />
  <!-- 软件版本-->
  <add key="Version" value="1.0"/>
</appSettings>
