<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="DefaultConnection" connectionString="Server=.;Initial Catalog=EnergyMonitoring;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />
  <add name="SqlConnection" connectionString="Server=.;Initial Catalog=NFineBase;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />
  <add name="OracleConnection" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.3.155)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=ORCL)));User Id=WEMS;Password=123456;" providerName="Oracle.ManagedDataAccess.Client" />
</connectionStrings>
